

        main div {
            display: flex;
            justify-content: center;
            font-size: 2rem;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #f2f2f2;
            padding: 10px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        nav ul li a {
            text-decoration: none;
            color:#f1eded;
            padding: 5px;
        }

        nav ul li a.active {
            color: #f1eded;
            font-weight: bold;
        }

        main {
            padding: 20px;
            height: 70vh;
        }

        #about h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        #about p {
            line-height: 1.5;
            margin-bottom: 10px;
        }

        footer {
            display: flex;
            background-color: rgb(57 22 92);
            padding: 50px;
            justify-content: center;
            margin-bottom: 2px;
        }
   