/* Style for the form */

main div div {
  display: grid;
  justify-content: center;
}

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  box-sizing: border-box;
}

label {
  display: grid;
  margin-bottom: 5px;
  font-weight: bold;

}

input[type="text"],
input[type="email"],
input[type="role"],
input[type="date"],
input[type="number"],
textarea,
select {
  display: block;
  width: 40vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  display: inline-block;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #4CAF50;
  color: #322e2d;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}



input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #ec3535;
}

/* Style for the heading */

h2 {
  text-align: center;
}