
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(37 6 68);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(57 22 92);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 6px 27px;

}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {

    color: rgb(226, 219, 235);
    font-size: 1.08rem;

}

hr {
    border: 0;
    background: rgb(96, 59, 207);
    height: 1px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 55px 0;
}

.firstsection div> {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
}

.rightsection img {
    width: 650px;
    margin: 0 -95px;
}

.purple {
    color: blueviolet;
}

.textgray {
    color: gray;
}

#element {
    color: blueviolet;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.9rem;
}
.secondsection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondsection .vertical {
    height: 120px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
