:root {
    --green: green;
    --black: #183415;
    --light-color: #ebebeb;
    --box-shadow: 0 .5rem 1.5rem rgba(90, 196, 61, 0.827);
    --border: 2px solid rgba(90, 196, 61, 0.827);
    --outline: .1rem solid rgba(0, 128, 0.1);

}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
}


body {
    width: 100%;
    height: 100%;
    background-color:var(--light-color);
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}

.left {
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: var(--black);
    color: var(--light-color);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 6px 27px;

}

nav ul li a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--light-color);

}

nav ul li a:hover {
    color: var(--black);
    font-size: 1.05rem;
    transition: all ease-out 0.2s;
}

.firstsection {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.firstsection div> {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
}

.rightsection img{
    width: 470px;
    height: 470px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    
}

hr {
    border: 0;
    background: var(--green);
    height: 1px;
    margin: 40px ;
}

.green {
    color: var(--green);
}

.textgreen {
    color: var(--green);
}

#element {
    color: var(--green);
}

.firstsection .leftsection .buttons{
    margin-top: 50px;
}

.firstsection .leftsection .buttons a{
    margin-left: -10px;
}

.firstsection .leftsection a:hover{
    color: var(--light-color);
    background-color: var(--green);
    box-shadow: var(--box-shadow);
    transition: all ease-in 0.2s;
}
.btn{
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid var(--black);
    border-radius: 40px;
    font-size: 2rem;
    color: var(--green);
    background-color: var(--light-color);
    font-family: 'Poppins', sans-serif;
}

.Projects {
    height: 80vh;
    width: auto;
    margin: 0 150px;
}


.Projects h1 {
    color: var(--black);
    font-size: 1.8rem;
}






footer {

    padding: 50px;
    background-color:var(--black);
    justify-content: center;
    display: flex;
    margin-top: 25vh;
    width: auto;
}
.tittle p{
    color: var(--light-color);
}


